In [2]:
import nltk
# nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [3]:
import csv

In [4]:
# with open("SMSSpamCollection.tsv", 'r', newline= '') as file:
#     rawData = csv.reader(file)
#     data = list(rawData)

#read the raw file   
rawData = open('SMSSpamCollection.tsv').read()

# print first 500 characters
rawData[0:500]

"ham\tI've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.\nspam\tFree entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's\nham\tNah I don't think he goes to usf, he lives around here though\nham\tEven my brother is not like to speak with me. They treat me like aid"

In [5]:
parsedData = rawData.replace('\t', '\n').split('\n')
parsedData[0:5]

['ham',
 "I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.",
 'spam',
 "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's",
 'ham']

In [6]:
# save the lables (ham) that appears on every other roll and do same for the text(body)
labels = parsedData[0::2]
text = parsedData[1::2]

print(labels[0:10:2])
print(text[0:5])

['ham', 'ham', 'ham', 'spam', 'ham']
["I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.", "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's", "Nah I don't think he goes to usf, he lives around here though", 'Even my brother is not like to speak with me. They treat me like aids patent.', 'I HAVE A DATE ON SUNDAY WITH WILL!!']

In [7]:
import pandas as pd

In [8]:
fullCorpus = pd.DataFrame({
    'label' : labels[:-1],
    'body_list' : text
})
fullCorpus

     label                                          body_list
0      ham  I've been searching for the right words to tha...
1     spam  Free entry in 2 a wkly comp to win FA Cup fina...
2      ham  Nah I don't think he goes to usf, he lives aro...
3      ham  Even my brother is not like to speak with me. ...
4      ham                I HAVE A DATE ON SUNDAY WITH WILL!!
...    ...                                                ...
5565  spam  This is the 2nd time we have tried 2 contact u...
5566   ham               Will ü b going to esplanade fr home?
5567   ham  Pity, * was in mood for that. So...any other s...
5568   ham  The guy did some bitching but I acted like i'd...
5569   ham                         Rofl. Its true to its name

[5570 rows x 2 columns]

In [9]:
# Importing the data the easy way
dataset = pd.read_csv('SMSSpamCollection.tsv', sep='\t', header=None)

# Setting labels for the columns
dataset.columns = ['label', 'body_text']

# View the first 5 rows of the data
dataset.head()

  label                                          body_text
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [10]:
# Check the shape of the data
print("Data has {} rows and {} columns".format(len(dataset), len(dataset.columns)))

Data has 5568 rows and 2 columns

In [11]:
# Check the ratio of spam to ham
print("Out of {} rows, the number of spam are {} and the number of ham are {}".format(len(dataset), len(dataset[dataset['label']=='spam']), len(dataset[dataset['label']=='ham'])))

Out of 5568 rows, the number of spam are 746 and the number of ham are 4822

In [12]:
# How much missing data do we have
print("There are {} missing labels in our data".format(dataset['label'].isnull().sum()))
print("There are {} missing text in our data".format(dataset['body_text'].isnull().sum()))

There are 0 missing labels in our data
There are 0 missing text in our data

In [43]:
# Using pandas directly
fullCorpusNew = pd.read_csv('SMSSpamcollection.tsv', sep= '\t', header= None )
fullCorpusNew.columns = ['label', 'body_text']
columns = fullCorpusNew.columns
print(fullCorpusNew.columns)

Index(['label', 'body_text'], dtype='object')

In [27]:
fullCorpusNew.head()

  label                                          body_text
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [32]:
#what is the shape of the dataset
print ('dataset has {} rows and {} colmus'.format(len(fullCorpusNew), len(fullCorpusNew.columns)))
print ('of the {} dataset, {} are labeled as spam and {} are labeled as ham'.format(len(fullCorpusNew), 
                                                                                    len(fullCorpusNew[fullCorpusNew['label'] == 'spam']), 
                                                                                    len(fullCorpusNew[fullCorpusNew['label'] == 'ham']))
                                                                                    )

dataset has 5568 rows and 2 colmus
of the 5568 dataset, 746 are labeled as spam and 4822 are labeled as ham

In [33]:
# check for any missing data

print('there are {} missing data in row'.format(fullCorpusNew['label'].isnull().sum()))
print('there are {} missing data in row'.format(fullCorpusNew['body_text'].isnull().sum()))

there are 0 missing data in row
there are 0 missing data in row

In [63]:
import re
# fullCorpusNew.iloc[3, fullCorpusNew['body_text']]

# split the text by finding any spcial character and make them delimeter for spliting
re.split('\W+', fullCorpusNew['body_text'][0])

['I',
 've',
 'been',
 'searching',
 'for',
 'the',
 'right',
 'words',
 'to',
 'thank',
 'you',
 'for',
 'this',
 'breather',
 'I',
 'promise',
 'i',
 'wont',
 'take',
 'your',
 'help',
 'for',
 'granted',
 'and',
 'will',
 'fulfil',
 'my',
 'promise',
 'You',
 'have',
 'been',
 'wonderful',
 'and',
 'a',
 'blessing',
 'at',
 'all',
 'times',
 '']

In [69]:
# split the text by finding any spcial character or token

re.findall('\w+', fullCorpusNew['body_text'][0])

['I',
 've',
 'been',
 'searching',
 'for',
 'the',
 'right',
 'words',
 'to',
 'thank',
 'you',
 'for',
 'this',
 'breather',
 'I',
 'promise',
 'i',
 'wont',
 'take',
 'your',
 'help',
 'for',
 'granted',
 'and',
 'will',
 'fulfil',
 'my',
 'promise',
 'You',
 'have',
 'been',
 'wonderful',
 'and',
 'a',
 'blessing',
 'at',
 'all',
 'times']