In [4]:
import pandas as pd
import string

# Read the raw data in and create header for the data
data = pd.read_csv('SMSSpamCollection.tsv', sep='\t', header=None)
data.columns = ['label', 'body_text']

# We want to add a feature based on the legnth of text. Remember the need to remove whitespaces
data['body_len'] = data['body_text'].apply(lambda x: len(x) - x.count(" "))
data.head()

  label                                          body_text  body_len
0   ham  I've been searching for the right words to tha...       160
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...       128
2   ham  Nah I don't think he goes to usf, he lives aro...        49
3   ham  Even my brother is not like to speak with me. ...        62
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!        28

In [ ]:

def count_punct(text):
   count_char = sum([1 for char in text if char in string.punctuation])
   return round(count_char/len(text) - len(text.count(" ")), 3) * 100